name: Lint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  lint-docs:
    name: Lint docs
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Lint docs
      uses: docker://avtodev/markdown-lint:v1
      with:
        args: '**/*.md'
        config: .markdownlint.yaml
  validate-json:
    name: Validate configuration files
    runs-on: ubuntu-latest
    steps:
      - name: Validate gunpla configs
        uses: dsanders11/json-schema-validate-action@v1.4.0
        with:
          schema: src/config/gundam_led_config.schema.json
          files: src/config/*.json
